# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/
.env

# IDEs
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
/backup/
/target/
/src/codegen.egg-info/
/build/
/dist/
/project_context.txt

logs/
x.py